<a href="https://colab.research.google.com/github/samratchakraborty422000/Python-basics-Assignments/blob/main/programming_assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [2]:
def filter_list(lst):
    return [i for i in lst if isinstance(i,int)]
lst=['apple',1,2,3,4,'berry']
filter_list(lst)

[1, 2, 3, 4]

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [6]:
def add_indexes(lst):
    l=[]
    for i in lst:
        l.append(i+lst.index(i))
    return l
lst=list(map(int,input().split()))
add_indexes(lst)

1 2 3 4 5

[1, 3, 5, 7, 9]

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [14]:
import math  
pi = math.pi
def cone_volumn(h,r):  
    return round((pi*r*r*h)/3,2)
h=int(input("Enter The Height:"))
r=int(input("Enter The Radius:"))  
cone_volumn(h,r)

Enter The Height:15
Enter The Radius:6

565.49

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [2]:
def f(n):
    sum=1
    if n==1:
        return 1
    elif n>1:
        for i in range(2,n+1):
            sum=sum+i
        return sum
a=int(input())
f(a)

6

21

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [11]:
def missing(lst):
    for i in range(1,11):
        if i not in lst:
            print(i)
l=list(map(int,input().split()))
missing(l)

1 2 3 4 5 6 7 8 9
10