<a href="https://colab.research.google.com/github/samratchakraborty422000/Python-basics-Assignments/blob/main/programming_assignment_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Please write a program using generator to print the numbers which can be divisible by 5 and
7 between 0 and n in comma separated form while n is input by console.

In [2]:
n=int(input())
for i in range(n+1):
  if i%5==0 and i%7==0:
    print(i,end=",")

900
0,35,70,105,140,175,210,245,280,315,350,385,420,455,490,525,560,595,630,665,700,735,770,805,840,875,

2. Please write a program using generator to print the even numbers between 0 and n in comma
separated form while n is input by console.

In [4]:
n=int(input())
for i in range(n+1):
  if i%2==0:
    print(i,end=",")

50
0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

3. The Fibonacci Sequence is computed based on the following formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n&gt;1
Please write a program using list comprehension to print the Fibonacci Sequence in comma
separated form with a given n input by console.

In [9]:
def fibo(n):
   if n <= 1:
       return n
   else:
       return(fibo(n-1)+fibo(n-2))
n=int(input())
l=[fibo(i) for i in range(n)]
print(l)

12
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

4. Assuming that we have some email addresses in the &quot;username@companyname.com&quot; format,
please write program to print the user name of a given email address. Both user names and
company names are composed of letters only.

In [11]:
email=input()
n=email.index('@')
name=email[:n]
print(name)

samrat@uber.com
samrat

5. Define a class named Shape and its subclass Square. The Square class has an init function
which takes a length as argument. Both classes have a area function which can print the area
of the shape where Shape&#39;s area is 0 by default.

In [18]:
class Shape:
  def area(self,lenght):
    return 0
class Square(Shape):
    def __init__(self,lenght):
      self.lenght=int(lenght)
    def area(self,lenght):
      return lenght**2
square=Square(5)
square.area(5)

25